<div class="flex flex-col items-center justify-center min-h-screen">
  <h1 class="text-4xl font-bold text-primary-700 mb-6">Welcome to Habit Tracker!</h1>
  <p class="text-lg text-text-secondary">You're signed in. Start tracking your habits and building streaks!</p>

  <%= link_to 'Add Habit', new_habits_list_item_path(Habits::List.default_list), class: 'mt-2 btn btn-sm font-bold text-primary-700 justify-center', data: { turbo_stream: true } %>
</div>
