<div 
  data-controller="slideover-content" 
  data-slideover-content-headericon-value="<%= local_assigns[:headericon] %>"
  data-slideover-content-tabs-value="<%= local_assigns[:tabs].to_json %>"
  data-slideover-content-title-value="<%= local_assigns[:title] %>">
  <%= yield %>
</div>
