.modal-pane {
  @apply h-full flex flex-col bg-white shadow-xl;
}

/* Header */
.modal-header {
  @apply bg-white z-10 border-b border-gray-200 px-4 lg:px-6;

  .modal-title {
    @apply flex items-center gap-1;

    i {
      @apply text-green-500 text-base;
      /* replaced text-primary-400 */
    }

    h2 {
      @apply font-medium text-base text-gray-700;
      /* replaced text-graytw-700 */
    }
  }

  .modal-actions {
    @apply flex items-center justify-end gap-2;

    .modal-close {
      @apply flex items-center justify-center text-base transition-colors text-gray-600 hover:text-gray-700 focus:outline-none;
    }
  }
}

/* Body */
.modal-body {
  @apply bg-white relative flex flex-col flex-1 overflow-y-auto p-4 lg:px-6;

  .scrollable-content {
    @apply flex flex-col h-0 flex-auto;
  }

  hr {
    @apply my-4 -mx-4 lg:-mx-6 border-t border-gray-200;
  }
}

/* Footer */
.modal-footer {
  @apply p-4 lg:px-6 bg-white z-10 flex flex-col md:flex-row flex-initial gap-2 md:gap-0 border-t border-gray-200 justify-between items-center;

  > .btn {
    @apply w-full md:w-auto;
  }
}

/* Tabs */
.modal-tabs {
  @apply flex gap-4 overflow-x-auto;

  .modal-tabs-tab {
    @apply font-medium text-sm text-gray-400 hover:text-gray-700 pb-2.5 transition-colors ease-in-out relative shrink;

    &:hover::after {
      content: "";
      @apply bg-gray-100;
    }

    &::after {
      content: "";
      @apply w-full h-[3px] bg-green-500 rounded-t-md absolute bottom-0 left-0;
      /* replaced bg-primary-400 */
    }
  }

  .modal-tabs-tab--active {
    @apply text-gray-700;

    &::after {
      content: "";
      @apply bg-green-500;
    }
  }
}

/* Collapsible Blocks */
.modal-collapsible-block {
  @apply border-b border-gray-200;

  .collapsible-heading {
    @apply flex items-center justify-between bg-gray-100/70 px-5 py-3 cursor-pointer transition-colors ease-in-out hover:bg-gray-100;

    &::before {
      @apply text-base text-gray-400 order-2;
    }

    .collapsible-title {
      @apply flex items-center gap-1 order-1;

      i {
        @apply text-base text-green-500;
      }

      h4 {
        @apply text-xs uppercase font-semibold text-gray-800;
      }
    }
  }

  .collapsible-body {
    @apply p-5 pt-4 flex flex-col gap-3;
  }
}
